<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
  
  <add name="Q" connectionString="-1"/>
  <add name="W" connectionString="-1"/>
  <add name="E" connectionString="-1"/>
  <add name="R" connectionString="-1"/>
  <add name="T" connectionString="-1"/>
  <add name="Y" connectionString="-1"/>
  <add name="U" connectionString="-1"/>
  <add name="I" connectionString="-1"/>
  <add name="O" connectionString="-1"/>
  <add name="P" connectionString="-1"/>
  <add name="Ğ" connectionString="-1"/>
  <add name="Ü" connectionString="-1"/>
  <add name="A" connectionString="85"/>
  <add name="S" connectionString="-1"/>
  <add name="D" connectionString="-1"/>
  <add name="F" connectionString="-1"/>
  <add name="G" connectionString="-1"/>
  <add name="H" connectionString="-1"/>
  <add name="J" connectionString="-1"/>
  <add name="K" connectionString="-1"/>
  <add name="L" connectionString="-1"/>
  <add name="Ş" connectionString="-1"/>
  <add name="İ" connectionString="-1"/>
  <add name="Z" connectionString="-1"/>
  <add name="X" connectionString="-1"/>
  <add name="C" connectionString="-1"/>
  <add name="V" connectionString="-1"/>
  <add name="B" connectionString="-1"/>
  <add name="N" connectionString="-1"/>
  <add name="M" connectionString="-1"/>
  <add name="Ö" connectionString="-1"/>
  <add name="Ç" connectionString="-1"/>
  
</connectionStrings>
</configuration>